 body {
    background-color:rgb(0, 119, 255);
}

button {
    font-size: 140%;
    margin: 20 auto;
    max-width: 2px;
    min-width: 200px;
    height: 55px;
    
}

.scramble {
    background-color:white;
    border: 2px solid black;
    width: 670px;
    margin: 20px auto;
    padding: 40px;
}

.parent > * {
    margin: 30px 0;
}

p {
    font-size: 150%;
    font-weight: bold;
    color: rgb(255, 255, 255);

}

input {
    font-size: 185%;
    background-color: rgb(0, 119, 255);
    border: 1px solid rgb(0, 0, 0);
    width: 100%;
}

h1 {
    height: 5%;
    font-size: 240%;
    font-family: "Lucida Console";
    color: rgb(0, 0, 0);
}

h2 {
    width: 668px;
    height: 20%;
    font-family: "Lucida Console";
    color: rgb(0, 0, 0);
}


.divider {
    border-bottom: 1px solid #888989;
  }

  .message{
    font-size: 150%;
  }

  .scrambledWord{
    font-size: 80px;
  }

#refreshWordId
{
    float: right;
}

.textBox{
font-size: 150%;
height: 20px;
}

.button1{
    color:white;
    background-color:gray;
}

.button2{
    color:white;
    background-color:rgb(0, 119, 255);
}
#hintMessageId{
    font-size: 150%;
}

#resultMessageId{
    height: 5%;
    font-size: 180%;
    font-family: "Lucida Console";
    color: rgb(0, 0, 0);
}